.form-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  margin: 30px auto 0;
  padding: 30px;
  background-color: #eee;
  border-radius: 15px;
}

.error-message {
  color: #a94442;
}
