<menu>
  <div *ngIf="role == 'ROLE_ADMIN'">
    <h2 (click)="goToUrl('operator')" >Operators menu</h2>
  </div>

  <div *ngIf="role == 'ROLE_ADMIN' || role == 'ROLE_ADOPS'">
    <h2 (click)="goToUrl('publisher')" >Publisher menu</h2>
  </div>

  <div *ngIf="role == 'ROLE_ADOPS' || role == 'ROLE_PUBLISHER'">
    <h2 (click)="goToUrl('app')" >Apps menu</h2>
  </div>

  <div *ngIf="user == null"><h2 (click)="goToUrl('login')" >Login</h2></div>
  <div *ngIf="user == null"><h2 (click)="goToUrl('register')" >Registration</h2></div>
  <div *ngIf="user != null"><h2 (click)="goToUrl('logout')" >Logout</h2></div>
</menu>
